<div class="tabs-container">
    <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedTab" (selectedIndexChange)="switchTab($event)">
        <mat-tab label="World">
            <ng-template matTabContent>
                <news-cards></news-cards>
            </ng-template>
        </mat-tab>
        <mat-tab label="Science">
            <ng-template matTabContent>
                <news-cards></news-cards>
            </ng-template>
        </mat-tab>
        <mat-tab label="Search">
            <ng-template matTabContent>
                <search-news></search-news>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>