<div class="entry-wrapper">

	<div class="outline">

		<h3>Register as a new user</h3>

		<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

			<mat-form-field appearance="fill">
				<mat-label>First Name</mat-label>
				<input matInput type="text" formControlName="firstName" />
				<mat-error *ngIf="submitted && f['firstName']['errors'] && f['firstName']['errors']['required']">First
					Name
					is
					required</mat-error>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Last Name</mat-label>
				<input matInput type="text" formControlName="lastName" />
				<mat-error *ngIf="submitted && f['lastName']['errors'] && f['lastName']['errors']['required']">Last Name
					is
					required</mat-error>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Email</mat-label>
				<input matInput type="text" formControlName="email" />
				<mat-error *ngIf="submitted && f['email']['errors'] && f['email']['errors']['required']">Email
					is required</mat-error>
				<mat-error *ngIf="submitted && f['email']['errors'] && f['email']['errors']['email']">Not a valid mail
					id</mat-error>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Password</mat-label>
				<input matInput type="password" formControlName="password" />
				<mat-error *ngIf="submitted && f['password']['errors'] && f['password']['errors']['required']">Password
					is required</mat-error>
				<mat-error *ngIf="submitted && f['password']['errors'] && f['password']['errors']['minlength']">Password
					must be at least 6 characters</mat-error>
			</mat-form-field>

			<div class="button-container">
				<button mat-raised-button color="primary">
					Register
				</button>
				<a routerLink="/login">Login</a>
			</div>

		</form>

	</div>

</div>